extends _layout

block main
  .container
    .row
      .display-4.mt-5.mb-5 SWIFT Technical Support
      p.lead Leading engineers for environment constrain security, process, troubleshooting
    .row
      h1.mb-5 Python3
      p Python3 has been since the begin
      p and this is


